package view

import (
	"util/templ_util"
)

templ Layout() {
	<html lang="en">
		<head>
			<title>Go Templ Starter</title>
			<meta name="viewport" content="width=device-width,initial-scale=1.0" />
			<link rel="stylesheet" type="text/css" href={ templ_util.GetAssetsURL(ctx, "css") } />
			<script defer src={ templ_util.GetAssetsURL(ctx, "js") }></script>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}